<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frags :: head"></head>
<body class="container">
    <nav th:replace="frags :: nav"></nav>
    <h1 th:text="${title}">Default</h1>
    <form method="post" th:object="${firstGame}">
        <div class="form-group">
            <label th:for="numTeams">How many teams will be playing?</label>
            <select class="form-control form-control-lg" th:field="*{numTeams}">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <span th:errors="*{numTeams}" class="alert alert-warning"></span>
        </div>
        <div class="form-group">
            <label th:for="numRegularGames">How many regular season games will be played?</label>
            <input class="form-control form-control-lg" th:field="*{numRegularGames}"/>
            <span th:errors="*{numRegularGames}" class="alert alert-warning"></span>
        </div>
        <div class="form-group">
            <label th:for="numPlayoffGames">How many wins are needed to win a playoff series?</label>
            <input class="form-control form-control-lg" th:field="*{numPlayoffGames}"/>
            <span th:errors="*{numPlayoffGames}" class="alert alert-warning"></span>
        </div>
        <button class="btn btn-default">
            <label>Click to play!</label>
            <img th:src="@{/images/mj.gif}" alt="Button Image" width="200" height="150"/>
        </button>
    </form>
</body>
<footer th:replace="frags :: footer"></footer>
</html>