<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frags :: head"></head>
<body class="bg">
    <nav th:replace="frags :: nav"></nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div th:each="matchup : ${firstGame.playoffMatchups}" th:if="${matchup.round} == 1">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-addon" style="width:10%">
                                    <span class="font-weight-bold" style="font-size:8pt" th:text="${matchup.team1.playoffSeed}"></span>
                                </span>
                                <div class="form-control" th:text="${matchup.team1.name}"></div>
                                <span class="input-group-addon" style="width:10%">
                                    <span class="font-weight-bold" style="font-size:10pt" th:text="${matchup.team1.playoffWins}"></span>
                                </span>
                                <span class="input-group-btn">
                                    <form class="btn-group-vertical" method="post">
                                        <input type="hidden" th:name="btn" th:value="${matchup.team1.name}"/>
                                        <button type="submit" class="btn btn-dark" style="padding:0;" th:name="win" th:value="true">+</button>
                                        <button type="submit" class="btn btn-dark" style="padding:0" th:name="win" th:value="false">-</button>
                                    </form>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:20px">
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-addon" style="width:10%">
                                    <span class="font-weight-bold" style="font-size:8pt" th:text="${matchup.team2.playoffSeed}"></span>
                                </span>
                                <div class="form-control" th:text="${matchup.team2.name}"></div>
                                <span class="input-group-addon" style="width:10%">
                                    <span class="font-weight-bold" style="font-size:10pt" th:text="${matchup.team2.playoffWins}"></span>
                                </span>
                                <span class="input-group-btn">
                                    <form class="btn-group-vertical" method="post">
                                        <input type="hidden" th:name="btn" th:value="${matchup.team2.name}"/>
                                        <button type="submit" class="btn btn-dark" style="padding:0;" th:name="win" th:value="true">+</button>
                                        <button type="submit" class="btn btn-dark" style="padding:0" th:name="win" th:value="false">-</button>
                                    </form>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <div th:each="matchup : ${firstGame.playoffMatchups}" th:if="${matchup.round} == 2">
                    <div class="row" style="margin-top:25px">
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-addon" style="width:10%">
                                    <span class="font-weight-bold" style="font-size:8pt" th:if="${matchup.team1} != null" th:text="${matchup.team1.playoffSeed}"></span>
                                </span>
                                <div class="form-control">
                                    <div th:if="${matchup.team1} != null" th:text="${matchup.team1.name}"></div>
                                </div>
                                <span class="input-group-addon" style="width:10%">
                                    <span class="font-weight-bold" style="font-size:10pt" th:if="${matchup.team1} != null" th:text="${matchup.team1.playoffWins}"></span>
                                </span>
                                <span class="input-group-btn">
                                    <form class="btn-group-vertical" method="post">
                                        <input type="hidden" th:if="${matchup.team1} != null" th:name="btn" th:value="${matchup.team1.name}"/>
                                        <button type="submit" class="btn btn-dark" style="padding:0;" th:name="win" th:value="true">+</button>
                                        <button type="submit" class="btn btn-dark" style="padding:0" th:name="win" th:value="false">-</button>
                                    </form>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:70px;margin-bottom:70px">
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-addon" style="width:10%">
                                    <span class="font-weight-bold" style="font-size:8pt" th:if="${matchup.team2} != null" th:text="${matchup.team2.playoffSeed}"></span>
                                </span>
                                <div class="form-control">
                                    <div th:if="${matchup.team2} != null" th:text="${matchup.team2.name}"></div>
                                </div>
                                <span class="input-group-addon" style="width:10%">
                                    <span class="font-weight-bold" style="font-size:10pt" th:if="${matchup.team2} != null" th:text="${matchup.team2.playoffWins}"></span>
                                </span>
                                <span class="input-group-btn">
                                    <form class="btn-group-vertical" method="post">
                                        <input type="hidden" th:if="${matchup.team2} != null" th:name="btn" th:value="${matchup.team2.name}"/>
                                        <button type="submit" class="btn btn-dark" style="padding:0;" th:name="win" th:value="true">+</button>
                                        <button type="submit" class="btn btn-dark" style="padding:0" th:name="win" th:value="false">-</button>
                                    </form>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <div th:each="matchup : ${firstGame.playoffMatchups}" th:if="${matchup.round} == 3">
                    <div class="row" style="margin-top:85px">
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-addon" style="width:10%">
                                    <span class="font-weight-bold" style="font-size:8pt" th:if="${matchup.team1} != null" th:text="${matchup.team1.playoffSeed}"></span>
                                </span>
                                <div class="form-control">
                                    <div th:if="${matchup.team1} != null" th:text="${matchup.team1.name}"></div>
                                </div>
                                <span class="input-group-addon" style="width:10%">
                                    <span class="font-weight-bold" style="font-size:10pt" th:if="${matchup.team1} != null" th:text="${matchup.team1.playoffWins}"></span>
                                </span>
                                <span class="input-group-btn">
                                    <form class="btn-group-vertical" method="post">
                                        <input type="hidden" th:if="${matchup.team1} != null" th:name="btn" th:value="${matchup.team1.name}"/>
                                        <button type="submit" class="btn btn-dark" style="padding:0;" th:name="win" th:value="true">+</button>
                                        <button type="submit" class="btn btn-dark" style="padding:0" th:name="win" th:value="false">-</button>
                                    </form>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:190px">
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-addon" style="width:10%">
                                    <span class="font-weight-bold" style="font-size:8pt" th:if="${matchup.team2} != null" th:text="${matchup.team2.playoffSeed}"></span>
                                </span>
                                <div class="form-control">
                                    <div th:if="${matchup.team2} != null" th:text="${matchup.team2.name}"></div>
                                </div>
                                <span class="input-group-addon" style="width:10%">
                                    <span class="font-weight-bold" style="font-size:10pt" th:if="${matchup.team2} != null" th:text="${matchup.team2.playoffWins}"></span>
                                </span>
                                <span class="input-group-btn">
                                    <form class="btn-group-vertical" method="post">
                                        <input type="hidden" th:if="${matchup.team2} != null" th:name="btn" th:value="${matchup.team2.name}"/>
                                        <button type="submit" class="btn btn-dark" style="padding:0;" th:name="win" th:value="true">+</button>
                                        <button type="submit" class="btn btn-dark" style="padding:0" th:name="win" th:value="false">-</button>
                                    </form>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <form method="post">
            <input type="hidden" th:name="win" th:value="false"/>
            <button class="btn btn-dark" th:name="btn" th:value="category">Next Category</button>
        </form>
    </div>
    <div class="row justify-content-center" style="margin-top:20px">
        <h3 th:hide="${showCategory}" th:text="${category}"></h3>
    </div>
    <footer th:replace="frags :: footer"></footer>
</body>
</html>