<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Always the header</title>
    <link rel="stylesheet" style="text/css" href="../css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
    </ul>
</nav>

<footer th:fragment="footer" class="foot">
    <div class="container text-center">
        <span class="text-muted">Created by Grapp-n-Gaff Co.</span>
    </div>
</footer>
</body>
</html>